*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
}
h1{
    font-weight: 500;
    margin-top: 2em;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
}
.search-box{
    background-color: bisque;
    height: 20em;
    width: 50em;
    position: relative;
}
.btn-speech{
    margin: 1em;
    padding: .5em;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.words{
    height: 15em;
    padding: 1em;
    font-weight: bold;
}