*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: url("https://get.wallhere.com/photo/illustration-minimalism-logo-green-leaf-flower-plant-screenshot-computer-wallpaper-font-174278.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

h1 {
  font-weight: 500;
  margin-top: 2em;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  margin-top: 5em;
  width: 60em;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 135, 86, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.word-box {
  height: 20em;
  width: 50em;

  margin-bottom: 5em;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons * {
  z-index: 5;
  font-weight: bold;
}
.btn-speech {
  margin: 1em;
  padding: 0.5em;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 45px;
  width: 200px;
  border-radius: 30px;
  border: 0px;
  background-color: rgb(37, 211, 102);
  font-family: Ubuntu, sans-serif;
}

.words {
  height: 15em;
  padding: 1em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.3em;
}
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #0e6647;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator {
  border-radius: 50%;
}

.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
  transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}
.control-radio .control_indicator::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2ebf24;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0.01;
    transform: scale(1);
  }
}
@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.control-radio input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}
